@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  /* font-family: Arial, sans-serif; */
  /* font-family: Arial, sans-serif; */
  /* font-family: Helvetica, sans-serif; */
  /* font-family: Verdana, sans-serif; */
  /* font-family: Roboto, sans-serif; */
  /* font-family: Open Sans, sans-serif; */
  font-family: Montserrat, sans-serif;
  /* font-family: Lato, sans-serif; */
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

